* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-animation: scroll-bar 10s forwards;
          animation: scroll-bar 10s forwards;
}

body {
  font-family: "roboto", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.fa-heart {
  font-size: 1.4em;
  text-align: center;
}

.page {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.page .anim {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.page .anim__container {
  min-height: 100%;
  width: 100%;
  background-color: #353535;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
.page .anim__container svg {
  height: 100px;
  width: 300px;
  -webkit-animation: float 7s infinite;
          animation: float 7s infinite;
}
.page .anim__container svg path {
  fill: #fff;
  stroke: #2e2c2c;
}
.page .loader {
  height: 250px;
  width: 250px;
  margin-bottom: 4rem;
  transition: all 0.4s ease-out;
}
.page .loader__spinner {
  display: block;
  position: relative;
  top: 28%;
  left: 8%;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #9356dc;
  border-bottom-color: #9356dc;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}
.page .loader__line:nth-child(1) {
  display: block;
  position: relative;
  top: 3%;
  left: 3.4%;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
  -webkit-animation-delay: 0.666666668s;
          animation-delay: 0.666666668s;
}
.page .loader__line:nth-child(2) {
  display: block;
  position: relative;
  top: -66%;
  left: 29%;
  width: 170px;
  height: 170px;
  margin: -40px 0 0 -40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  border-bottom-color: #ff79da;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}
.page .loader__line:nth-child(3) {
  display: block;
  position: relative;
  top: -145%;
  left: 14%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  -webkit-animation-delay: -0.666666668s;
          animation-delay: -0.666666668s;
}
.page .loader__line:nth-child(4) {
  display: block;
  position: relative;
  top: -214%;
  left: 19%;
  width: 130px;
  height: 127.1px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #99e2d0;
  border-bottom-color: #99e2d0;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.page .heading {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0 6px 10px #0000004b;
}
.page .heading__anim {
  height: 3rem;
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.page .search {
  height: 6rem;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .search__map {
  padding: 0 1rem 0 0;
}
.page .search input {
  width: 7rem;
  border: none;
  background: #eaeaea;
  font-weight: bold;
}
.page .intro {
  height: 35vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .intro__block {
  text-align: center;
  height: auto;
  padding: 1rem;
}
.page .intro__block__title, .page .intro__block h2 {
  margin: 0 0 3rem 0;
}
.page .intro__block__answer, .page .intro__block p {
  margin-bottom: 1rem;
}
.page .intro__block .btn {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 65%;
  margin-top: 3rem;
  border-radius: 2rem;
  background: linear-gradient(175deg, #ff79da 10%, #9356dc 90%);
  transition: box-shadow 150ms linear, transform 150ms linear;
  opacity: 1;
  box-shadow: 0 6px 10px #0000004b;
}
.page .intro__block .btn:hover {
  transform: scale(0.92);
  transition-delay: 250ms;
  box-shadow: 0 6px 10px #0000004b;
  opacity: 0.79;
}
.page .intro__block .btn a {
  color: white;
}
.page .access {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.page .access__container {
  margin-top: 1rem;
  width: 27%;
}
.page .access__title {
  margin: 1rem 4rem 2rem;
}
.page .access .block {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
}
.page .access .block__tuto {
  padding: 1.4rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 6px 10px #0000004b;
  transition: all 0.55s;
  position: relative;
}
.page .access .block__tuto:hover {
  background-color: #ece1f9;
  transition-delay: 250ms;
  color: #9356DC;
}
.page .access .block__tuto--nb1::before {
  content: "1";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 32%;
  left: -5%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background: #9356DC;
  border-radius: 1rem 1rem 1rem 1rem;
}
.page .access .block__tuto--nb2::before {
  content: "2";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 32%;
  left: -5%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background: #9356DC;
  border-radius: 1rem 1rem 1rem 1rem;
}
.page .access .block__tuto--nb3::before {
  content: "3";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 32%;
  left: -5%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background: #9356DC;
  border-radius: 1rem 1rem 1rem 1rem;
}
.page .access .block__content {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.page .access .block__content span {
  padding: 0.5rem;
}
.page .access .block__content p {
  padding: 0.5rem;
  color: #000;
  font-weight: bold;
}
.page .restaurant {
  margin: 1rem 0 0rem;
  background: #eaeaea;
  width: 73%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page .restaurant__title {
  margin: 1rem 3rem 0;
}
.page .container {
  margin: 1rem;
  width: 96.8%;
  height: 100%;
  display: flex;
  align-items: center;
}
.page .container__card {
  width: 50%;
}
.page .container__card .card {
  margin: 2rem 1rem 0 1rem;
  background-color: #fff;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 6px 10px #0000004b;
}
.page .container__card .card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 14rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.page .container__card .card__img--newscolor::before {
  content: "Nouveau";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 43.3%;
  right: 4%;
  height: 30px;
  width: 100px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}
.page .container__card .card__img--newscolor2::before {
  content: "Nouveau";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 43.3%;
  right: 39%;
  height: 30px;
  width: 100px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}
.page .container__card .card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page .container__card .card__title {
  padding: 1rem 0;
  display: flex;
  justify-content: inherit;
}
.page .container__card .card__title .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}
.page .container__card .card__title .heart .fa-heart {
  font-size: 1.4em;
  text-align: center;
}
.page .container__card .card__title .heart .heart__1 {
  position: relative;
  transition: all 0.75s;
  z-index: 2;
  cursor: pointer;
}
.page .container__card .card__title .heart .heart__1:hover {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.page .container__card .card__title .heart .heart__1:hover + .heart__2 {
  visibility: visible;
  transform-origin: center;
  opacity: 1;
  font-size: 1.4em;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page .container__card .card__title .heart .heart__2 {
  position: absolute;
  transition: linear 0.75s ease-in-out;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  visibility: hidden;
  opacity: 0;
  font-size: 2em;
  z-index: 1;
  text-align: center;
}
.page .foot {
  width: 100%;
  height: 12rem;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page .foot__title {
  color: #fff;
  margin: 1rem 0 1rem 1.6rem;
}
.page .foot__title h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}
.page .foot .link__block a {
  color: #fff;
}
.page .foot .link__block:nth-child(1) {
  padding: 0 0 0.7rem 0.7rem;
  color: #fff;
}
.page .foot .link__block:nth-child(2) {
  padding: 0 0 0.7rem 0.7rem;
  color: #fff;
}
.page .foot .link__block:nth-child(3) {
  padding: 0 0 0.7rem 0.7rem;
  color: #fff;
}
.page .foot .link__block:nth-child(4) {
  padding: 0 0 1.7rem 0.7rem;
  color: #fff;
}

@media screen and (max-width: 1158px) {
  .page .access {
    flex-direction: column;
  }

  .page .access__container {
    margin: 0 2rem 0 0;
    width: 100%;
  }

  .page .access .block {
    flex-direction: row;
    height: auto;
  }

  .page .access .block .block__tuto {
    height: 12rem;
    width: 19rem;
  }

  .page .access .block__tuto--nb1::before,
.page .access .block__tuto--nb2::before,
.page .access .block__tuto--nb3::before {
    top: -8%;
    left: 43%;
  }

  .page .restaurant {
    margin: 1rem 0 0;
    width: 100%;
  }

  .page .container .container__card .card .card__img--newscolor::before {
    top: 51%;
    right: 5%;
  }

  .page .container .container__card .card .card__img--newscolor2::before {
    top: 51%;
    right: 53%;
  }
}
@media screen and (max-width: 890px) {
  .page .access .block {
    flex-direction: column;
    margin: 0 1rem 0 1rem;
  }

  .page .access .block .block__tuto {
    width: 100%;
    height: 6rem;
    margin: 0 0 2rem 0;
  }

  .page .access .block__content {
    width: 50%;
  }

  .page .access .block__tuto--nb1::before,
.page .access .block__tuto--nb2::before,
.page .access .block__tuto--nb3::before {
    top: 32%;
    left: -2.4%;
  }

  .page .container .container__card .card .card__img--newscolor::before {
    top: 55.3%;
    right: 5%;
  }

  .page .container .container__card .card .card__img--newscolor2::before {
    top: 55.3%;
    right: 53.4%;
  }
}
@media screen and (max-width: 599px) {
  .page .heading__anim {
    height: 2.6rem;
  }

  .page .access .block__content {
    width: 100%;
  }

  .page .container {
    flex-direction: column;
    margin: 0;
  }

  .page .restaurant {
    width: 100%;
  }

  .page .container .container__card {
    width: 100%;
    margin: 0 0 0 1rem;
  }

  .page .container .container__card:nth-child(2) {
    width: 100%;
    margin-bottom: 4rem;
  }

  .page .container .container__card .card {
    margin: 2rem 1rem 0 1rem;
  }

  .page .container .container__card .card__img img {
    height: 11rem;
  }

  .page .container .container__card .card .card__img--newscolor::before {
    top: 54.7%;
    right: 7%;
  }

  .page .container .container__card .card .card__img--newscolor2::before {
    top: 42.3%;
    right: 7.4%;
  }
}
@media screen and (max-width: 320px) {
  .page .container .container__card .card .card__img--newscolor::before {
    top: 54.7%;
    right: 10%;
  }

  .page .container .container__card .card .card__img--newscolor2::before {
    top: 42.3%;
    right: 10.4%;
  }
}
@media screen and (max-width: 1244px) {
  .blocks {
    flex-direction: column;
  }

  .blocks .card {
    width: 96%;
  }

  .blocks .card__border h2 {
    width: 35%;
  }
}
@media screen and (max-width: 680px) {
  .blocks .card {
    margin: 0;
  }

  .blocks .card__dishes {
    margin: 2rem;
  }
}
@media screen and (max-width: 444px) {
  .blocks .card__dishes {
    margin: 2rem 0 2rem 0;
  }
}
.heading {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0 6px 10px #0000004b;
}
.heading__return {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading__return .fa-arrow-left {
  color: #000;
  font-size: 1.4em;
}

.background__pages img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 27rem;
  width: 100%;
}

.menu {
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 2rem 2rem 0 0;
  margin-top: -4rem;
}
.menu__title {
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 200;
}
.menu__title .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}
.menu__title .heart .fa-heart {
  font-size: 1.4em;
  text-align: center;
}
.menu__title .heart .heart__1 {
  position: relative;
  transition: all 0.75s;
  z-index: 2;
  cursor: pointer;
}
.menu__title .heart .heart__1:hover {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.menu__title .heart .heart__1:hover + .heart__2 {
  visibility: visible;
  transform-origin: center;
  opacity: 1;
  font-size: 1.4em;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.menu__title .heart .heart__2 {
  position: absolute;
  transition: linear 0.75s ease-in-out;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  visibility: hidden;
  opacity: 0;
  font-size: 2em;
  z-index: 1;
  text-align: center;
}

.blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.blocks .card {
  margin: 1rem;
  height: auto;
  width: 30%;
}
.blocks .card__border {
  width: 30%;
  text-transform: uppercase;
  padding: 2rem 0 0rem 0;
}
.blocks .card__border h2 {
  border-bottom: 3px solid #99E2D0;
}
.blocks .card__dishes {
  margin: 2rem;
  box-shadow: 0 1px 6px;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 9;
  transform: translateY(999px);
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.blocks .card__dishes:hover > .card__valid {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.blocks .card__dishes:hover > .card__valid, .blocks .card__dishes .card__price {
  margin-left: 2rem;
}
.blocks .card__dishes:hover .fa-check-circle {
  transform: rotate(0deg);
}
.blocks .card__valid {
  padding: 1.6rem;
  background: #99E2D0;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  transform: translate(75px);
  overflow: hidden;
  visibility: hidden;
  transition: all 350ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocks .card__valid .fa-check-circle {
  transition-duration: 0.5s;
  transform: rotate(360deg);
}
.blocks .card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blocks .card__content h3 {
  margin: 1rem 0 1rem 1rem;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blocks .card__content .text {
  margin: 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blocks .card__content .text .text__line > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: burlywood;
}
.blocks .card__content .text .text__price > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #b37d37;
}

.btn {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 65%;
  margin-top: 3rem;
  border-radius: 2rem;
  background: linear-gradient(175deg, #ff79da 10%, #9356dc 90%);
  transition: box-shadow 150ms linear, transform 150ms linear;
  opacity: 1;
  box-shadow: 0 6px 10px #0000004b;
  width: 16rem;
  margin: 2rem 0 2rem 0;
}
.btn:hover {
  transform: scale(0.92);
  transition-delay: 250ms;
  box-shadow: 0 6px 10px #0000004b;
  opacity: 0.79;
}
.btn a {
  color: white;
}

.foot {
  width: 100%;
  height: 12rem;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foot__title {
  color: #fff;
  margin: 1rem 0 1rem 1.6rem;
}
.foot__title h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}
.foot .link__block a {
  color: #fff;
}
.foot .link__block:nth-child(1) {
  padding: 0 0 0.7rem 0.7rem;
  color: #fff;
}
.foot .link__block:nth-child(2) {
  padding: 0 0 0.7rem 0.7rem;
  color: #fff;
}
.foot .link__block:nth-child(3) {
  padding: 0 0 0.7rem 0.7rem;
  color: #fff;
}
.foot .link__block:nth-child(4) {
  padding: 0 0 1.7rem 0.7rem;
  color: #fff;
}

@media screen and (max-width: 1158px) {
  .page .access {
    flex-direction: column;
  }

  .page .access__container {
    margin: 0 2rem 0 0;
    width: 100%;
  }

  .page .access .block {
    flex-direction: row;
    height: auto;
  }

  .page .access .block .block__tuto {
    height: 12rem;
    width: 19rem;
  }

  .page .access .block__tuto--nb1::before,
.page .access .block__tuto--nb2::before,
.page .access .block__tuto--nb3::before {
    top: -8%;
    left: 43%;
  }

  .page .restaurant {
    margin: 1rem 0 0;
    width: 100%;
  }

  .page .container .container__card .card .card__img--newscolor::before {
    top: 51%;
    right: 5%;
  }

  .page .container .container__card .card .card__img--newscolor2::before {
    top: 51%;
    right: 53%;
  }
}
@media screen and (max-width: 890px) {
  .page .access .block {
    flex-direction: column;
    margin: 0 1rem 0 1rem;
  }

  .page .access .block .block__tuto {
    width: 100%;
    height: 6rem;
    margin: 0 0 2rem 0;
  }

  .page .access .block__content {
    width: 50%;
  }

  .page .access .block__tuto--nb1::before,
.page .access .block__tuto--nb2::before,
.page .access .block__tuto--nb3::before {
    top: 32%;
    left: -2.4%;
  }

  .page .container .container__card .card .card__img--newscolor::before {
    top: 55.3%;
    right: 5%;
  }

  .page .container .container__card .card .card__img--newscolor2::before {
    top: 55.3%;
    right: 53.4%;
  }
}
@media screen and (max-width: 599px) {
  .page .heading__anim {
    height: 2.6rem;
  }

  .page .access .block__content {
    width: 100%;
  }

  .page .container {
    flex-direction: column;
    margin: 0;
  }

  .page .restaurant {
    width: 100%;
  }

  .page .container .container__card {
    width: 100%;
    margin: 0 0 0 1rem;
  }

  .page .container .container__card:nth-child(2) {
    width: 100%;
    margin-bottom: 4rem;
  }

  .page .container .container__card .card {
    margin: 2rem 1rem 0 1rem;
  }

  .page .container .container__card .card__img img {
    height: 11rem;
  }

  .page .container .container__card .card .card__img--newscolor::before {
    top: 54.7%;
    right: 7%;
  }

  .page .container .container__card .card .card__img--newscolor2::before {
    top: 42.3%;
    right: 7.4%;
  }
}
@media screen and (max-width: 320px) {
  .page .container .container__card .card .card__img--newscolor::before {
    top: 54.7%;
    right: 10%;
  }

  .page .container .container__card .card .card__img--newscolor2::before {
    top: 42.3%;
    right: 10.4%;
  }
}
@media screen and (max-width: 1244px) {
  .blocks {
    flex-direction: column;
  }

  .blocks .card {
    width: 96%;
  }

  .blocks .card__border h2 {
    width: 35%;
  }
}
@media screen and (max-width: 680px) {
  .blocks .card {
    margin: 0;
  }

  .blocks .card__dishes {
    margin: 2rem;
  }
}
@media screen and (max-width: 444px) {
  .blocks .card__dishes {
    margin: 2rem 0 2rem 0;
  }
}
@-webkit-keyframes scroll-bar {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: scroll;
  }
}
@keyframes scroll-bar {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: scroll;
  }
}
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
    transform: rotate(-360deg);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
    overflow: hidden;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
    overflow: hidden;
  }
}
@-webkit-keyframes lightSpeedIn {
  0% {
    transform: translate3d(-100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    transform: translate3d(-100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.card--delay1 {
  -webkit-animation-delay: 0, 125s;
          animation-delay: 0, 125s;
}

.card--delay4 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.card--delay7 {
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
}

.card--delay2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.card--delay5 {
  -webkit-animation-delay: 0.625s;
          animation-delay: 0.625s;
}

.card--delay8 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.card--delay3 {
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}

.card--delay6 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.card--delay9 {
  -webkit-animation-delay: 1.125s;
          animation-delay: 1.125s;
}

.card1--delay1 {
  -webkit-animation-delay: 0, 5s;
          animation-delay: 0, 5s;
}

.card1--delay5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.card1--delay8 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.card1--delay2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.card1--delay6 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.card1--delay9 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.card1--delay3 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.card1--delay7 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.card1--delay10 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.card1--delay4 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}/*# sourceMappingURL=main.css.map */