*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

html
{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

body
{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    animation: scroll-bar 10s forwards;
  
    
}

.fa-heart
{
 font-size: 23px;
}

.fa-arrow-left
{
    font-size: 23px;
    color: black;
}



h1
{
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}


h2
{
    font-family: 'Roboto', sans-serif;
}

h3
{
    font-family: 'Roboto', sans-serif;
}

h4
{
    font-family: 'Shrikhand', cursive;
}

.menu__border h2
{
    border-bottom: 3px solid #99e2d0;
}

