.page
{
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  min-height: 100vh;
 overflow: hidden;
    position: relative;
    .anim
    {
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: 3;
        position: absolute;
        display: flex;
        justify-content: center;
        animation-delay: 2.9s ;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-fill-mode: forwards;

        &__container
        {
            min-height: 100%;
           width: 100%;
            background-color:$color-bg3;
          opacity: 0.7;
           @include center_column1;
            position: fixed;
                svg
                {
                    height: 100px;
                    width: 255px;
                    animation: float 7s infinite;
                    margin-bottom: 2rem;
                }
        }
    }
    .loader
    {
    height: 250px;
    width: 250px;
    margin-bottom: 4rem;
    transition: all 0.4s ease-out;

        &__spinner
        {
            display: block;
            position: relative;
            top: 28%;
            left: 8%;
            width: 210px;
            height: 210px;
            border-radius: 50%;
            border-style: dotted;
            animation-delay: 1s;
            border: 4px solid transparent;
            border-top-color: #9356dc;
            border-bottom-color: #9356dc;
            animation: spin 5s linear infinite;
       
        }

        &__line:nth-child(1)
        {
        display: block;
        position: relative;
        top: 5%;
        left: 5.4%;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top-color: #fff;
        border-bottom-color: #fff;
        animation: spin 2.5s linear infinite;
      
        }

        &__line:nth-child(2)
        {
            display: block;
            position: relative;
            top: -57%;
            left: 33%;
            width: 150px;
            height: 149px;
            margin: -40px 0 0 -40px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #ff79da;
            border-bottom-color: #ff79da;
            -webkit-animation: spin 4s linear infinite;
            animation: spin 4s linear infinite;
            
        }

        &__line:nth-child(3)
          {
            display: block;
            position: relative;
            top: -125%;
            left: 19.5%;
            width: 125px;
            height: 125px;
            border-radius: 50%;
            border-style: dashed;
            border-width: 5px;
            border-color: $primary-color;
            border-bottom-color: $secondary-color;
            border-top-color:$tertiary-color;
            -webkit-animation: spin 1s linear infinite;
            animation: spin 3s linear infinite;
          }

         &__line:nth-child(4)
            {
                display: block;
                position: relative;
                top: -180%;
                left: 26%;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 5px solid transparent;
                border-top-color: #99e2d0;
                border-bottom-color: #99e2d0;
                -webkit-animation: spin 1s linear infinite;
                animation: spin 1s linear infinite;
              
            }
        }


        //header//
.heading
  {
    height: 12vh;
    @include center-item;
  z-index: 3;
 
  box-shadow: 0 6px 10px $colorC;

  &__anim
  {  
      height: 3rem;
      animation-name: lightSpeedIn;
      animation-timing-function: ease-out;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-delay: 4s;
  }
}

//section recherche de Restaurant//

.search
{
height: 6rem;
background: $color-bg2;
@include center;

    &__map
    {
    padding: 0 1rem 0 0;
    }

    input
    {
    width: 7rem;
    border: none;
    background: $color-bg2;
    font-weight: bold;
    }
}

.intro
{
    height: 35vh;
    background-color: $color-bg1;
    @include center;
    &__block
    {
        text-align: center;
        height: auto;
        padding: 1rem;

        &__title, h2
        {
            
        margin: 0 0 3rem 0; 
            
        }

        &__answer, p
        {
        margin-bottom: 1rem;
        }

       .btn
       {
         @include btn;
       }
    }
}

.access
{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  
       &__container
       {
           margin-top: 1rem;
           width: 27%;
       } 

       &__title
       {
           margin: 1rem 4rem 2rem;
       }

       .block
       {
        margin: 0 1rem 1rem 1rem;
       @include space-column-between;
        height: 30rem;
            &__tuto
            {
                padding: 1.4rem;
                border-radius: 1rem;
                background-color:$color-bg;

                box-shadow: 0 6px 10px $colorC;
                transition: all 0.55s;
                position: relative;
                &:hover
                {
                    background-color: lighten($color: $primary-color, $amount: 33%);
                    transition-delay: 250ms ;
                    color: $primary-color;
                }
            }

            &__tuto--nb1::before
            {
                content: '1';
                position: absolute;
                @include center;
                color: $colorB;
                top: 32%;
                left: -5%;
                 padding: 0.5rem 0.8rem 0.5rem 0.8rem;
                background: $primary-color;
                border-radius: 1rem 1rem 1rem 1rem;
            }
     
            &__tuto--nb2::before
            {
                content: '2';
                position: absolute;
                @include center;
                color: $colorB;
                top: 32%;
                left: -5%;
                 padding: 0.5rem 0.8rem 0.5rem 0.8rem;
                background: $primary-color;
                border-radius: 1rem 1rem 1rem 1rem;
            }
     
            &__tuto--nb3::before
            {
                content: '3';
                position: absolute;
                @include center;
                color: $colorB;
                top: 32%;
                left: -5%;
                 padding: 0.5rem 0.8rem 0.5rem 0.8rem;
                background: $primary-color;
                border-radius: 1rem 1rem 1rem 1rem;
            }
            &__content
            {
                padding: 0.5rem;
               @include center;
                height: 100%;
                 span
                 {
                     padding: 0.5rem;
                 }

                 p
                 {
                    padding: 0.5rem;
                    color:$colorD;
                    font-weight: bold;
                 }
            }
          }
}

.restaurant
{
    margin: 1rem 0 0rem;
    background:$color-bg2;
    width: 73%;
    height: 100%;
   @include column;

       &__title
        {
            margin: 1rem 3rem 0;
        }
}

.container
{
    margin: 1rem;
    width: 96.8%;
    height: 100%;
    display: flex;
    align-items: center;
    
        &__card
        {
            width: 50%;
           
            .card
            {
                margin: 1rem 1rem 2rem 1rem;
                background-color: $color-bg;
                height: auto;
                border-radius: 1rem;
                box-shadow: 0 6px 10px $colorC;

                &__img
                {
                    img
                    {
                        object-fit: cover;
                        height: 10rem;
                        width: 100%;
                        border-radius: 1rem 1rem 0 0;
                        position: relative;

                    }

                }
                &__img--newscolor::before
                {
                    content: 'Nouveau';
                    position: absolute;
                    @include center;
                    top: 45.9% ;
                    right: 4%;
                    height: 30px;
                    width: 100px;
                    z-index: 2;
                    background-color: $tertiary-color;
                    color: darken($color:$tertiary-color, $amount: 40%);
                    font-weight: bold;
                }

                &__img--newscolor2::before
                {
                    content: 'Nouveau';
                    position: absolute;
                    @include center;
                    top: 45.9% ;
                    right: 39.1%;
                    height: 30px;
                    width: 100px;
                    z-index: 2;
                    background-color: $tertiary-color;
                    color: darken($color:$tertiary-color, $amount: 40%);
                    font-weight: bold;
                }

          

                &__content
                {
                    
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                &__title
                {
                    padding: 1rem 0;
                    display: flex;
                   justify-content: inherit;
                   .heart
                   {
                       @include heart;
              
                    }
                }
            }
        }
}




.foot
{
    width: 100%;
    height: 12rem;
    background-color: $color-bg3;
    @include center-column;
    padding: 0 1rem 0 1rem;

    &__title
    {
        color: $color-bg;
        margin: 1rem 0 1rem 0.6rem;
         h3
         {
             font-family: 'Shrikhand', cursive;
             font-weight: 100;
         }
    }

    .link
    {
        &__block
        {
            a
            {
                color: $color-bg;
            }
        }

        &__block:nth-child(1)
        {
          padding: 0 0 0.7rem 0.7rem;
          color: $color-bg;
        }

        &__block:nth-child(2)
        {
          padding: 0 0 0.7rem 0.7rem;
          color: $color-bg;
        }

        &__block:nth-child(3)
        {
          padding: 0 0 0.7rem 0.7rem;
          color: $color-bg;
        }

        &__block:nth-child(4)
        {
          padding: 0 0 1.7rem 0.7rem;
          color: $color-bg;
        }   
    }
}
}










































































































































































  

  