.btn
{ 
    height: 3rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 0 auto;
    margin-top:  3rem;
    border-radius: 2rem;
    transition: box-shadow 150ms linear, transform 150ms linear;

    box-shadow: 0 6px 10px #0000004b;

    .btn, a
    {
        color: white;
    }

        &__gradient--color 
        {
            background: linear-gradient( 175deg, #ff79da 10%, #9356dc 90%);
        } 
}

.btn:hover
{
    transform: scale(0.92);
    transition-delay: 250ms ;
   box-shadow: 0 6px 10px #0000004b;
}

.btn1
{ 
    height: 3rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin: 0 auto;
    margin:  3rem;
    border-radius: 2rem;
    transition: box-shadow 150ms linear, transform 150ms linear;

    box-shadow: 0 6px 10px #0000004b;

    .btn1, a
    {
        color: white;
    }

        &__gradient--color 
        {
            background: linear-gradient( 175deg, #ff79da 10%, #9356dc 90%);
        } 
}

.btn1:hover
{
    transform: scale(0.92);
    transition-delay: 250ms ;
   box-shadow: 0 6px 10px #0000004b;
}