//delay pour card page A la Française, Délice de Sens, palette du gout//

.card--delay1
{
    animation-delay: 0,125s;
}

.card--delay4
{
    animation-delay: 0.25s;
}

.card--delay7
{
    animation-delay: 0.375s;
}



.card--delay2
{
    animation-delay: 0.5s;
}


.card--delay5
{
   
    animation-delay: 0.625s;
}

.card--delay8
{
    animation-delay: 0.75s;
}


.card--delay3{
    animation-delay: 0.875s;
}

.card--delay6
{
    animation-delay: 1s;
}

.card--delay9
{
    animation-delay: 1.125s;
}

//delay pour card page Lanote enchanté  //


.card1--delay1
{
    animation-delay: 0,5s;
}

.card1--delay5
{
    animation-delay: 2.5s;
}

.card1--delay8
{
    animation-delay: 4s;
}



.card1--delay2
{
    animation-delay: 1s;
}


.card1--delay6
{
   
    animation-delay: 3s;
}

.card1--delay9
{
    animation-delay: 4.5s;
}


.card1--delay3{
    animation-delay: 1.5s;
}

.card1--delay7
{
    animation-delay: 3.5s;
}

.card1--delay10
{
    animation-delay: 5s;
}

.card1--delay4
{
    animation-delay: 2s;
}