.container-heart
{
display: flex;
justify-content: center;
align-items: center;
width: 3rem;
height: 3rem;
    .fa-heart
    {
        font-size: 1.4em;
        text-align: center;
    }

        .heart2
    {
    
    position: absolute;
    transition: linear 0.75s ease-in-out;
        background: linear-gradient(175deg, #ff79da 10%, #9356dc 90%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text ;
        background-clip:text ;
        visibility: hidden;
        opacity: 0;
        font-size: 10em;
        z-index: 1;
        text-align: center;
    }

    .heart1
        {
            position: relative; 
            transition: all 0.75s;
            z-index: 2;
            cursor: pointer;

        }

        .heart1:hover
        {
            background: linear-gradient(175deg, #ff79da 10%, #9356dc 95%);
            -webkit-text-fill-color:transparent ;
            -webkit-background-clip: text ;
            background-clip: text ;
        }
        
        
        .heart1:hover + .heart2
        {
            
            visibility: visible;
            transform-origin: center;
            opacity: 1;
            font-size: 1.4em;
            -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }  
}

