
@mixin btn {
  
   
   height:3rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 65%;
    margin-top:  3rem;
    border-radius: 2rem;
    background: linear-gradient( 175deg, #ff79da 10%, #9356dc 90%);
    transition: box-shadow 150ms linear, transform 150ms linear;
    transition: all 0.75s;
    opacity: 1;
    box-shadow: 0 6px 10px #0000004b;

  &:hover {
    transform: scale(0.92);
    transition-delay: 230ms ;
    box-shadow: 0 6px 10px #0000004b;
    background-color: lighten($primary-color, 10%);
    background-blend-mode: lighten;
  }

   a
  {
      color: white;
  }

}


@mixin heart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    .fa-heart
    {
        font-size: 1.4em;
        text-align: center;
    }

    .heart__1 //coeur vide
    {
        position: relative; 
        transition: all 0.75s;
        z-index: 2;
        cursor: pointer;
        &:hover
        {
            background: linear-gradient(175deg,$secondary-color 10%, $primary-color 90%);
            -webkit-text-fill-color:transparent ;
            -webkit-background-clip: text ;
            background-clip: text ;
        }

        &:hover + .heart__2
        {
            visibility: visible;
            transform-origin: center;
            opacity: 1;
            font-size: 1.4em;
            animation-name: zoomIn;
            animation-duration: 1s;
            animation-fill-mode: both;
        }  

    }

    .heart__2 //coeur plein//
    {
    
    position: absolute;
    transition: linear 0.75s ease-in-out;
        background: linear-gradient(175deg,$secondary-color 10%, $primary-color 90%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text ;
        background-clip:text ;
        visibility: hidden;
        opacity: 0;
        font-size: 2em;
        z-index: 1;
        text-align: center;
    }
}


@mixin center 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-item 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-around
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin evenly
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin between1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

@mixin between2
{
    display: flex;
    justify-content: space-between;
}

@mixin row-reverse
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

@mixin center_column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin center_column1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin space-around
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@mixin space-column-around
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@mixin space-column-between
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}