//Couleur primaire//
$primary-color: #9356DC;
$secondary-color:  #FF79DA;
$tertiary-color: #99E2D0;

//Autre Couleur
$colorA: rgb(46, 44, 44);
$colorB: #fff;
$colorC: #0000004b;
$colorD: #000;

//Couleur Background//
$color-bg:  #fff;
$color-bg1: #f2f2f2;
$color-bg2: #dad4d4;
$color-bg3: #353535;

